body {
	
  	margin: 0px;
  	padding: 0px;
  	background-color: #B7A0BC;
  	text-align: center;
}

#wrapper {
	font-family: 'Work Sans', sans-serif;
  	max-width: 320px;
  	margin: 20px auto;
}

h1{
	font-family: 'Indie Flower', cursive;
}
