main {
	text-align: center;
 	width: 800px;
 	height: 600px;
 	box-sizing: border-box;
 	margin: 100px auto;
  	padding: 0px;
  	background-color: white;
}

body {
  	background-color: #B7A0BC;
  	margin: 10px 10px;
  	padding: 0px;

}

#wrapper {
	font-family: 'Work Sans', sans-serif;
  	margin: 20px 50px;
  	text-align: left;
  	max-width: 40%;

}

h1{
	font-family: 'Indie Flower', cursive;
}

.icons {
	padding: 40px;
	margin: 30px auto;
}

#displayMsg {
	position: absolute;
	/*display: block;*/
	left: 900px;
 	top: 350px;
  	width: 400px;

}
.submit {
	padding: 50px;
	margin: 50px;
}
input[type=text], input[type=date] {
    border-bottom: 2px #A7ABDD;
    background-color: #A7ABDD;
    color: white;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}